<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <configSections>
    <section name="rewriter"  type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler,Intelligencia.UrlRewriter" />
  </configSections>
 
  <appSettings>
    <add key="DataBase" value="countryside"/>
    <add key="Ver" value="1.0"/>
    <add key="Folder" value="/folder/"/>
    <add key="CT" value="dffae"/>
    <add key="CN" value="fafeq"/>
    <add key="CW" value="faDfefa"/>
    <add key="CC" value="DFA"/>
    <add key="CE" value="fafefFAa"/>
    <add key="WULC" value="QfaFAfDSefFAa"/> <!-- 网站用户cookie名称-->
    <add key="WULCN" value="QfaFAasdSefFAa"/> <!-- 网站用户cookiename-->
    <add key="WULCD" value="QfqA85efFAa"/> <!-- 网站用户cookiepwd-->
    <add key="DTC" value="purviewcache"/><!-- 权限datatable-->
    <add key="DTWC" value="area"/>   <!-- 权限area-->
    <add key="FNC" value="farmingnews"/>    <!-- 资讯快递缓存名称-->
    <add key="Upload" value="upload/"/> <!-- 上传文件夹-->
    <add key="LoginTitle" value="LoginTitle"/>
    <add key="WebTitle" value="WebTitle"/>
    <add key="dmu" value=""/> <!-- 设置url-->
  </appSettings>
  
  <connectionStrings/>
  
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

    <httpModules>
      <add name="UrlRewriter"     type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter" />
    </httpModules>
    
    <httpHandlers> 
      <add verb="*" path="*_system.axd" validate="false" type="BLL.Ajax_System.AjaxCall_System"/>
      <add verb="*" path="*_web.axd" validate="false" type="BLL.Ajax_WebSet.AjaxCall_WebSet"/>
      <add verb="*" path="*_country.axd" validate="false" type="BLL_Web.Ajax.AjaxCall"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  
  <system.webServer>
     <validation validateIntegratedModeConfiguration="false"/> 
      <modules>
        <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter" />
      </modules>
      <handlers> 
        <add name="*_web.axd" path="*_web.axd" verb="*" type="BLL.Ajax_WebSet.AjaxCall_WebSet" resourceType="Unspecified" preCondition="integratedMode" />
        <add name="*_system.axd" path="*_system.axd" verb="*" type="BLL.Ajax_System.AjaxCall_System" resourceType="Unspecified" preCondition="integratedMode" />
        <add name="*_country.axd" path="*_country.axd" verb="*" type="BLL_Web.Ajax.AjaxCall"/>
      </handlers>
    </system.webServer> 

  <rewriter>

    <!--<rewrite url="^(/.+(\.gif|\.png|\.jpg|\.ico|\.css|\.js|\.axd|)(\?.+)?)$" to="$1"  />-->
    <rewrite url="~/index/$" to="~/index.aspx"  processing="stop"/>
   <rewrite url="~/reg/$" to="~/register.aspx"  processing="stop"/>
    <rewrite url="~/news/(\d{1,1})/$"  to="~/web/news.aspx?type=$1"  processing="stop"/>
    <rewrite url="~/newsdetail/([^/.]+)/$"  to="~/web/newsdetail.aspx?type=$1"  processing="stop"/>
    <rewrite url="~/village/" to="~/web/village.aspx"  processing="stop"/>
    <rewrite url="~/villageimg/([^/.]+)/([^/.]+)/$"  to="~/web/villageimage.aspx?vid=$1&amp;vdid=$2"  processing="stop"/>
    <rewrite url="~/villagedetail/([^/.]+)/([^/.]+)/$" to="~/web/villagedetail.aspx?type=$1&amp;vid=$2"  processing="stop"/>
     <rewrite url="~/ccode/([^/.]+)$" to="~/checkcode.aspx?type=$1"  processing="stop"/>
    <!--(\d{1,1}) <rewrite url="~/news/" to="~/web/news.aspx"  processing="stop"/>-->
    <!--<rewrite url="^~/index2/([^/.]+)/$" to="~/web/village.aspx?n=$1" processing="stop"/>-->
    <!--<rewrite url="~/2/(.+)/([^/.]+)/$" to="~/web/village.aspx?ID=$1&amp;tr=$2"  processing="stop" />-->
   </rewriter>
</configuration>