<?xml version="1.0" encoding="utf-8"?><map>
  <class name="areacityEntity" table="areacity" database="countryside">
    <attribute name="AutoID" column="AutoID" type="Integer" increment="true" key="primary" />
    <attribute name="Title" column="Title" type="String" />
    <attribute name="ProvinceID" column="ProvinceID" type="Integer" />
    <attribute name="Status" column="Status" type="TinyInt" />
    <attribute name="OrderValue" column="OrderValue" type="Integer" />
    <attribute name="Remark" column="Remark" type="String" />
    <attribute name="CreatorID" column="CreatorID" type="Integer" />
    <attribute name="CreateDate" column="CreateDate" type="Date" />
    <attribute name="Modifier" column="Modifier" type="Integer" />
    <attribute name="ModifyDate" column="ModifyDate" type="Date" />
  </class>
  <class name="areacountyEntity" table="areacounty" database="countryside">
    <attribute name="AutoID" column="AutoID" type="Integer" increment="true" key="primary" />
    <attribute name="Title" column="Title" type="String" />
    <attribute name="ProvinceID" column="ProvinceID" type="Integer" />
    <attribute name="CityID" column="CityID" type="Integer" />
    <attribute name="Status" column="Status" type="TinyInt" />
    <attribute name="OrderValue" column="OrderValue" type="Integer" />
    <attribute name="Remark" column="Remark" type="String" />
    <attribute name="CreatorID" column="CreatorID" type="Integer" />
    <attribute name="CreateDate" column="CreateDate" type="Date" />
    <attribute name="Modifier" column="Modifier" type="Integer" />
    <attribute name="ModifyDate" column="ModifyDate" type="Date" />
  </class>
  <class name="areaprovinceEntity" table="areaprovince" database="countryside">
    <attribute name="AutoID" column="AutoID" type="Integer" increment="true" key="primary" />
    <attribute name="Title" column="Title" type="String" />
    <attribute name="Status" column="Status" type="TinyInt" />
    <attribute name="OrderValue" column="OrderValue" type="Integer" />
    <attribute name="Remark" column="Remark" type="String" />
    <attribute name="CreatorID" column="CreatorID" type="Integer" />
    <attribute name="CreateDate" column="CreateDate" type="Date" />
    <attribute name="Modifier" column="Modifier" type="Integer" />
    <attribute name="ModifyDate" column="ModifyDate" type="Date" />
  </class>
  <class name="areatownEntity" table="areatown" database="countryside">
    <attribute name="AutoID" column="AutoID" type="Integer" increment="true" key="primary" />
    <attribute name="Title" column="Title" type="String" />
    <attribute name="ProvinceID" column="ProvinceID" type="Integer" />
    <attribute name="CityID" column="CityID" type="Integer" />
    <attribute name="CountyID" column="CountyID" type="Integer" />
    <attribute name="Status" column="Status" type="TinyInt" />
    <attribute name="OrderValue" column="OrderValue" type="Integer" />
    <attribute name="Remark" column="Remark" type="String" />
    <attribute name="CreatorID" column="CreatorID" type="Integer" />
    <attribute name="CreateDate" column="CreateDate" type="Date" />
    <attribute name="Modifier" column="Modifier" type="Integer" />
    <attribute name="ModifyDate" column="ModifyDate" type="Date" />
  </class>
  <class name="areavillageEntity" table="areavillage" database="countryside">
    <attribute name="AutoID" column="AutoID" type="Integer" increment="true" key="primary" />
    <attribute name="Title" column="Title" type="String" />
    <attribute name="ProvinceID" column="ProvinceID" type="Integer" />
    <attribute name="CityID" column="CityID" type="Integer" />
    <attribute name="CountyID" column="CountyID" type="Integer" />
    <attribute name="TownID" column="TownID" type="Integer" />
    <attribute name="Status" column="Status" type="TinyInt" />
    <attribute name="OrderValue" column="OrderValue" type="Integer" />
    <attribute name="Remark" column="Remark" type="String" />
    <attribute name="CreatorID" column="CreatorID" type="Integer" />
    <attribute name="CreateDate" column="CreateDate" type="Date" />
    <attribute name="Modifier" column="Modifier" type="Integer" />
    <attribute name="ModifyDate" column="ModifyDate" type="Date" />
  </class>
  <class name="system_customer_domainEntity" table="system_customer_domain" database="countryside">
    <attribute name="AutoID" column="AutoID" type="Integer" increment="true" key="primary" />
    <attribute name="CustomerID" column="CustomerID" type="Integer" />
    <attribute name="DomainID" column="DomainID" type="Integer" />
    <attribute name="CreatorID" column="CreatorID" type="Integer" />
    <attribute name="CreateDate" column="CreateDate" type="Date" />
    <attribute name="Modifier" column="Modifier" type="Integer" />
    <attribute name="ModifyDate" column="ModifyDate" type="Date" />
  </class>
  <class name="system_role_menuEntity" table="system_role_menu" database="countryside">
    <attribute name="AutoID" column="AutoID" type="Integer" increment="true" key="primary" />
    <attribute name="RoleID" column="RoleID" type="Integer" />
    <attribute name="MenuID" column="MenuID" type="Integer" />
    <attribute name="CustomerID" column="CustomerID" type="Integer" />
    <attribute name="IsShowMenu" column="IsShowMenu" type="TinyInt" />
    <attribute name="IsPurview" column="IsPurview" type="TinyInt" />
    <attribute name="IsAdd" column="IsAdd" type="TinyInt" />
    <attribute name="IsView" column="IsView" type="TinyInt" />
    <attribute name="IsEdit" column="IsEdit" type="TinyInt" />
    <attribute name="IsDelete" column="IsDelete" type="TinyInt" />
    <attribute name="CreatorID" column="CreatorID" type="Integer" />
    <attribute name="CreateDate" column="CreateDate" type="Date" />
    <attribute name="Modifier" column="Modifier" type="Integer" />
    <attribute name="ModifyDate" column="ModifyDate" type="Date" />
  </class>
  <class name="system_user_roleEntity" table="system_user_role" database="countryside">
    <attribute name="AutoID" column="AutoID" type="Integer" increment="true" key="primary" />
    <attribute name="UserID" column="UserID" type="Integer" />
    <attribute name="RoleID" column="RoleID" type="Integer" />
    <attribute name="CustomerID" column="CustomerID" type="Integer" />
    <attribute name="CreatorID" column="CreatorID" type="Integer" />
    <attribute name="CreateDate" column="CreateDate" type="Date" />
    <attribute name="Modifier" column="Modifier" type="Integer" />
    <attribute name="ModifyDate" column="ModifyDate" type="Date" />
  </class>
  <class name="systemcustomerEntity" table="systemcustomer" database="countryside">
    <attribute name="AutoID" column="AutoID" type="Integer" increment="true" key="primary" />
    <attribute name="Title" column="Title" type="String" />
    <attribute name="Status" column="Status" type="TinyInt" />
    <attribute name="LinkMan" column="LinkMan" type="String" />
    <attribute name="Phone" column="Phone" type="String" />
    <attribute name="MobilePhone" column="MobilePhone" type="String" />
    <attribute name="QQ" column="QQ" type="String" />
    <attribute name="Fax" column="Fax" type="String" />
    <attribute name="Address" column="Address" type="String" />
    <attribute name="Email" column="Email" type="String" />
    <attribute name="OrderValue" column="OrderValue" type="Integer" />
    <attribute name="ProvinceID" column="ProvinceID" type="Integer" />
    <attribute name="CityID" column="CityID" type="Integer" />
    <attribute name="CountyID" column="CountyID" type="Integer" />
    <attribute name="TownID" column="TownID" type="Integer" />
    <attribute name="Remark" column="Remark" type="String" />
    <attribute name="OpenStatus" column="OpenStatus" type="TinyInt" />
    <attribute name="CreatorID" column="CreatorID" type="Integer" />
    <attribute name="CreateDate" column="CreateDate" type="Date" />
    <attribute name="Modifier" column="Modifier" type="Integer" />
    <attribute name="ModifyDate" column="ModifyDate" type="Date" />
  </class>
  <class name="systemdomainEntity" table="systemdomain" database="countryside">
    <attribute name="AutoID" column="AutoID" type="Integer" increment="true" key="primary" />
    <attribute name="Title" column="Title" type="String" />
    <attribute name="Status" column="Status" type="TinyInt" />
    <attribute name="OrderValue" column="OrderValue" type="Integer" />
    <attribute name="Remark" column="Remark" type="String" />
    <attribute name="CreatorID" column="CreatorID" type="Integer" />
    <attribute name="CreateDate" column="CreateDate" type="Date" />
    <attribute name="Modifier" column="Modifier" type="Integer" />
    <attribute name="ModifyDate" column="ModifyDate" type="Date" />
  </class>
  <class name="systemlogEntity" table="systemlog" database="countryside">
    <attribute name="AutoID" column="AutoID" type="Integer" increment="true" key="primary" />
    <attribute name="datetime" column="datetime" type="Date" />
    <attribute name="loginfo" column="loginfo" type="String" />
    <attribute name="Particular" column="Particular" type="String" />
  </class>
  <class name="systemmenuEntity" table="systemmenu" database="countryside">
    <attribute name="AutoID" column="AutoID" type="Integer" increment="true" key="primary" />
    <attribute name="CustomerID" column="CustomerID" type="Integer" />
    <attribute name="Title" column="Title" type="String" />
    <attribute name="MenuUrl" column="MenuUrl" type="String" />
    <attribute name="Alt" column="Alt" type="String" />
    <attribute name="IsSuperAdmin" column="IsSuperAdmin" type="TinyInt" />
    <attribute name="IsTopMenu" column="IsTopMenu" type="Integer" />
    <attribute name="TopMenuID" column="TopMenuID" type="Integer" />
    <attribute name="ParentId" column="ParentId" type="Integer" />
    <attribute name="MenuType" column="MenuType" type="String" />
    <attribute name="Status" column="Status" type="TinyInt" />
    <attribute name="OrderValue" column="OrderValue" type="Integer" />
    <attribute name="Remark" column="Remark" type="String" />
    <attribute name="CreatorID" column="CreatorID" type="Integer" />
    <attribute name="CreateDate" column="CreateDate" type="Date" />
    <attribute name="Modifier" column="Modifier" type="Integer" />
    <attribute name="ModifyDate" column="ModifyDate" type="Date" />
  </class>
  <class name="systemroleEntity" table="systemrole" database="countryside">
    <attribute name="AutoID" column="AutoID" type="Integer" increment="true" key="primary" />
    <attribute name="CustomerID" column="CustomerID" type="Integer" />
    <attribute name="Title" column="Title" type="String" />
    <attribute name="Status" column="Status" type="TinyInt" />
    <attribute name="OrderValue" column="OrderValue" type="Integer" />
    <attribute name="Remark" column="Remark" type="String" />
    <attribute name="CreatorID" column="CreatorID" type="Integer" />
    <attribute name="CreateDate" column="CreateDate" type="Date" />
    <attribute name="Modifier" column="Modifier" type="Integer" />
    <attribute name="ModifyDate" column="ModifyDate" type="Date" />
  </class>
  <class name="systemuserEntity" table="systemuser" database="countryside">
    <attribute name="AutoID" column="AutoID" type="Integer" increment="true" key="primary" />
    <attribute name="CustomerID" column="CustomerID" type="Integer" />
    <attribute name="Title" column="Title" type="String" />
    <attribute name="UserPassword" column="UserPassword" type="String" />
    <attribute name="RealName" column="RealName" type="String" />
    <attribute name="IdentityCard" column="IdentityCard" type="String" />
    <attribute name="UserSex" column="UserSex" type="String" />
    <attribute name="Status" column="Status" type="TinyInt" />
    <attribute name="Phone" column="Phone" type="String" />
    <attribute name="MobilePhone" column="MobilePhone" type="String" />
    <attribute name="UserQQ" column="UserQQ" type="String" />
    <attribute name="UserEmail" column="UserEmail" type="String" />
    <attribute name="Address" column="Address" type="String" />
    <attribute name="OrderValue" column="OrderValue" type="Integer" />
    <attribute name="Remark" column="Remark" type="String" />
    <attribute name="CreatorID" column="CreatorID" type="Integer" />
    <attribute name="CreateDate" column="CreateDate" type="Date" />
    <attribute name="Modifier" column="Modifier" type="Integer" />
    <attribute name="ModifyDate" column="ModifyDate" type="Date" />
  </class>
    <class name="web_customer_menuEntity" table="web_customer_menu" database="countryside">
        <attribute name="AutoID" column="AutoID" type="Integer" increment="true" key="primary" />
        <attribute name="MenuID" column="MenuID" type="Integer" />
        <attribute name="CustomerID" column="CustomerID" type="Integer" />
        <attribute name="CreatorID" column="CreatorID" type="Integer" />
        <attribute name="Status" column="Status" type="TinyInt" />
        <attribute name="OrderValue" column="OrderValue" type="Integer" />
        <attribute name="CreateDate" column="CreateDate" type="Date" />
        <attribute name="Modifier" column="Modifier" type="Integer" />
        <attribute name="ModifyDate" column="ModifyDate" type="Date" />
    </class>
    <class name="webmenuEntity" table="webmenu" database="countryside">
        <attribute name="AutoID" column="AutoID" type="Integer" increment="true" key="primary" />
        <attribute name="Title" column="Title" type="String" />
        <attribute name="Status" column="Status" type="TinyInt" />
        <attribute name="Url" column="Url" type="String" />
        <attribute name="Remark" column="Remark" type="String" />
        <attribute name="OrderValue" column="OrderValue" type="Integer" />
        <attribute name="CreatorID" column="CreatorID" type="Integer" />
        <attribute name="CreateDate" column="CreateDate" type="Date" />
        <attribute name="Modifier" column="Modifier" type="Integer" />
        <attribute name="ModifyDate" column="ModifyDate" type="Date" />
    </class>

  <class name="webfarmingnewsEntity" table="webfarmingnews" database="countryside">
    <attribute name="AutoID" column="AutoID" type="Integer" increment="true" key="primary" />
    <attribute name="CustomerID" column="CustomerID" type="Integer" />
    <attribute name="Title" column="Title" type="String" />
    <attribute name="Content" column="Content" type="String" />
    <attribute name="Opertype" column="Opertype" type="TinyInt" />
    <attribute name="Status" column="Status" type="TinyInt" />
    <attribute name="OrderValue" column="OrderValue" type="Integer" />
    <attribute name="ProvinceID" column="ProvinceID" type="Integer" />
    <attribute name="CityID" column="CityID" type="Integer" />
    <attribute name="CountyID" column="CountyID" type="Integer" />
    <attribute name="TownID" column="TownID" type="Integer" />
    <attribute name="VillageID" column="VillageID" type="Integer" />
    <attribute name="CreatorID" column="CreatorID" type="Integer" />
    <attribute name="CreateDate" column="CreateDate" type="Date" />
    <attribute name="Modifier" column="Modifier" type="Integer" />
    <attribute name="ModifyDate" column="ModifyDate" type="Date" />
  </class>
  <class name="webbeautifulvillageEntity" table="webbeautifulvillage" database="countryside">
    <attribute name="AutoID" column="AutoID" type="Integer" increment="true" key="primary" />
    <attribute name="Title" column="Title" type="String" />
    <attribute name="CustomerID" column="CustomerID" type="Integer" />
    <attribute name="TownID" column="TownID" type="Integer" />
    <attribute name="VillageID" column="VillageID" type="Integer" />
    <attribute name="Status" column="Status" type="TinyInt" />
    <attribute name="Intro" column="Intro" type="String" />
    <attribute name="Yield" column="Yield" type="String" />
    <attribute name="Live" column="Live" type="String" />
    <attribute name="Environment" column="Environment" type="String" />
    <attribute name="Humanism" column="Humanism" type="String" />
    <attribute name="OrderValue" column="OrderValue" type="Integer" />
    <attribute name="CreatorID" column="CreatorID" type="Integer" />
    <attribute name="CreateDate" column="CreateDate" type="Date" />
    <attribute name="Modifier" column="Modifier" type="Integer" />
    <attribute name="ModifyDate" column="ModifyDate" type="Date" />
  </class>

  <class name="webbeautifulvillageFileEntity" table="webbeautifulvillageFile" database="countryside">
    <attribute name="AutoID" column="AutoID" type="Integer" increment="true" key="primary" />
    <attribute name="Title" column="Title" type="String" />
    <attribute name="CustomerID" column="CustomerID" type="Integer" />
    <attribute name="TownID" column="TownID" type="Integer" />
    <attribute name="VillageID" column="VillageID" type="Integer" />
    <attribute name="Status" column="Status" type="TinyInt" />
    <attribute name="FileType" column="FileType" type="String" />
    <attribute name="FileUrl" column="FileUrl" type="String" />
    <attribute name="FileSUrl" column="FileSUrl" type="String" />
    <attribute name="LinkUrl" column="LinkUrl" type="String" />
    <attribute name="FileRmark" column="FileRmark" type="String" />
    <attribute name="OrderValue" column="OrderValue" type="Integer" />
    <attribute name="CreatorID" column="CreatorID" type="Integer" />
    <attribute name="CreateDate" column="CreateDate" type="Date" />
    <attribute name="Modifier" column="Modifier" type="Integer" />
    <attribute name="ModifyDate" column="ModifyDate" type="Date" />
  </class>
  <class name="webuserEntity" table="webuser" database="countryside">
    <attribute name="AutoID" column="AutoID" type="Integer" increment="true" key="primary" />
    <attribute name="CustomerID" column="CustomerID" type="Integer" />
    <attribute name="Title" column="Title" type="String" />
    <attribute name="UserPassword" column="UserPassword" type="String" />
    <attribute name="RealName" column="RealName" type="String" />
    <attribute name="IdentityCard" column="IdentityCard" type="String" />
    <attribute name="UserSex" column="UserSex" type="String" />
    <attribute name="Status" column="Status" type="TinyInt" />
    <attribute name="UserEmail" column="UserEmail" type="String" />
    <attribute name="Address" column="Address" type="String" />
    <attribute name="Phone" column="Phone" type="String" />
    <attribute name="MobilePhone" column="MobilePhone" type="String" />
    <attribute name="UserBirthday" column="UserBirthday" type="Date" />
    <attribute name="CreatorID" column="CreatorID" type="Integer" />
    <attribute name="CreateDate" column="CreateDate" type="Date" />
    <attribute name="Modifier" column="Modifier" type="Integer" />
    <attribute name="ModifyDate" column="ModifyDate" type="Date" />
  </class>
  <class name="webagricultureinfoEntity" table="webagricultureinfo" database="countryside">
    <attribute name="AutoId" column="AutoId" type="Integer" increment="true" key="primary" />
    <attribute name="CustomerID" column="CustomerID" type="Integer" />
    <attribute name="ProvinceID" column="ProvinceID" type="Integer" />
    <attribute name="CityID" column="CityID" type="Integer" />
    <attribute name="CountyID" column="CountyID" type="Integer" />
    <attribute name="TownID" column="TownID" type="Integer" />
    <attribute name="Status" column="Status" type="TinyInt" />
    <attribute name="OrderValue" column="OrderValue" type="Integer" />
    <attribute name="Title" column="Title" type="String" />
    <attribute name="Content" column="Content" type="String" />
    <attribute name="CreatorID" column="CreatorID" type="Integer" />
    <attribute name="CreateDate" column="CreateDate" type="Date" />
    <attribute name="Modifier" column="Modifier" type="Integer" />
    <attribute name="ModifyDate" column="ModifyDate" type="Date" />
  </class>
  

</map>