<?xml version="1.0" encoding="utf-8"?><map>
  <class name="webagricultureinfoEntity" table="webagricultureinfo" database="countryside">
    <attribute name="AutoId" column="AutoId" type="Integer" increment="true" key="primary" />
    <attribute name="CustomerID" column="CustomerID" type="Integer" />
    <attribute name="ProvinceID" column="ProvinceID" type="Integer" />
    <attribute name="CityID" column="CityID" type="Integer" />
    <attribute name="CountyID" column="CountyID" type="Integer" />
    <attribute name="TownID" column="TownID" type="Integer" />
    <attribute name="Status" column="Status" type="TinyInt" />
    <attribute name="OrderValue" column="OrderValue" type="Integer" />
    <attribute name="Title" column="Title" type="String" />
    <attribute name="Content" column="Content" type="String" />
    <attribute name="CreatorID" column="CreatorID" type="Integer" />
    <attribute name="CreateDate" column="CreateDate" type="Date" />
    <attribute name="Modifier" column="Modifier" type="Integer" />
    <attribute name="ModifyDate" column="ModifyDate" type="Date" />
  </class></map>