<?xml version="1.0" encoding="utf-8"?><map>
  <database name="countryside" type="MsSqlServer">
    <parameter name="Provider" value="SQLOLEDB.1" />
    <parameter name="Initial Catalog" value="countryside" />
    <parameter name="Data Source" value="jason\MSSQL2008" />
    <parameter name="User ID" value="sa" />
    <parameter name="Password" value="wyydata" />
    <classMapFile path="ClassMap.config" />
  </database></map>