<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--   此处显示用户应用程序和配置的属性设置。-->
    <!--   示例：<add key="settingName" value="settingValue"/> -->
    <add key="MsSqlServer" value="Provider=SQLOLEDB.1;&#xD;&#xA;Password=wyydata;&#xD;&#xA;User ID=sa;&#xD;&#xA;Initial Catalog=countryside;&#xD;&#xA;Data Source=jason\MSSQL2008" />
    <add key="MsAccess" value="Provider=Microsoft.Jet.OLEDB.4.0;&#xD;&#xA;Data Source=F:\JasonItem\test\FOCUS4K\WebCode\Database\databaseMapName.mdb" />
    <add key="Oracle" value="Provider=MSDAORA.1;&#xD;&#xA;Password=LIHINSOFT;&#xD;&#xA;User ID=EDI;&#xD;&#xA;Data Source=EDI.LIHINSOFT1.COM" />
    <add key="comboBox1" value="MsSqlServer" />
  </appSettings>
</configuration>